/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap'); */

/* GENERALS */

@font-face {
  font-family: 'Bogart Trial';
  src: url("../fonts/bogart/Bogart-Regular-trial.ttf");
}
@font-face {
  font-family: 'Bogart Trial Semibold';
  src: url("../fonts/bogart/Bogart-Semibold-trial.ttf");
}
@font-face {
  font-family: 'Candara';
  src: url("../fonts/CANDARA/Candara.ttf");
}
@font-face {
  font-family: 'Calibre Regular';
  src: url("../fonts/calibre/CalibreRegular.otf");
}
@font-face {
  font-family: 'Calibre Semibold';
  src: url("../fonts/calibre/CalibreSemibold.otf");
}




html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body{
    display: flex;

    background-color: #111111;
}

a{
    display: inline-block;
    position: relative;

    color: #E5E5E5; 
    overflow: hidden;
    transition: all 300ms;
}
a:hover{
    font-weight: 600;
    letter-spacing: 2px;
    /* color: #FCA311; */
}
/* LINK ANIMATION */
a:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;

        background-color: #00c4ff;
        transform: scaleX(0);
        transition: transform 0.35s ease-out;
        transform-origin: bottom right;
}
a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* BUTTONS CLASS */
.button{
    margin: 1rem 0;
    width: 9rem;
    height: 2.5rem;
    padding: 15px 15px 10px ;

    background: #00c4ff;
    font-family: 'Calibre Regular', sans-serif;
    color: black;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    transition: all 300ms ease-in;
}
.button:hover{
    color: #fafafa;
    background: #111111;
    cursor: pointer;
    border: 1px solid #fafafa;
}
/* ******************************** */


#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;

    background: #111111 ;
}

/* NAVBAR */
#navBarContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 4rem;
}
nav{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
}
.navIcon{
    margin-left: 10px;
}
.navIcon:hover{
    cursor: pointer;
}
.navIcon a::after {
    display: none;
}
.navIcon a:hover{
    letter-spacing: normal;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    

    /* background-image: url("/PORTFOLIO/bkg/Black-Animation-Background.svg"); */
    /* background-size: cover; */
    background-color: #111111 ;
    

}
#info{
    width: 70%;
    padding: 2rem;
    margin: 6rem 0 3rem 0;
}
.hi{
    font-family: 'Calibre Regular', sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}
/* .name, .subtitle{
    font-family: 'Bogart Trial Semibold';
    text-transform:capitalize ;
} */
.name{
    margin: 1rem 0 .5rem;

    font-family: 'Calibre Semibold',sans-serif;
    font-size: 5rem;
    font-weight: 400;
    text-transform: lowercase;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fluido 8s ease-in-out infinite;
}
    /* NAME BACKGROUND ANIMATION  */
@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}
.subtitle{
    font-family: 'Calibre Regular', sans-serif;
    color: #00c4ff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}
.hi, 
.name,
.subtitle{
    user-select: none;
}
.data{
    padding: 1rem 0;

    font-family: 'Calibre Regular', sans-serif;
    color: #727272;
    font-size: .9rem;
    font-weight: 400;
}
#info_button{
    display: flex;
    height: 5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.yas {
    position: absolute;
    width: 10rem;
    text-align: center;
    margin-top: 1rem;
    transition: 0.2s ease;
    user-select: none;
    cursor: none;
    font-family: 'Candara', sans-serif;
    font-size: smaller;
    color: #fafafa;
    border-radius: 10px;
    letter-spacing: 2px;
    z-index: -1;
}

a:hover + .yas{
    animation: omg-yes .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards ;
    visibility: visible;
    opacity: 1; 
    transform: translateY(-1.5rem);
    z-index: 1;
}
    /* YAS ANIMATION */
@keyframes omg-yes {
	50% {
		opacity: 1;
	}
    
    100%{
        opacity: 0;
    }
  

}

/* ******************************** */

/* ANIMATION ON SCROLL  */
.mouse_scroll {
    display: block;
    width: 24px;
    margin: 5rem 0 2rem;
    
    opacity: 0.6;
}
.m_scroll_arrows{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}
.unu{
  margin-top: 1px;
}

.unu, .doi, .trei{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/* ******************************** */

/* DOWNLOAD CV BUTTON */
#cv{
    margin-top: 0;
    margin-bottom: 1rem;
}

/* CONTENT */
#content{
    margin-top: 4.5rem;
    width: 70%;
    padding: 1rem;
    font-family: 'Calibre Regular', sans-serif;
}
    /* PROJECTS */
.titleContent, .line{
    display: inline-block;
    margin: .5rem 0 .5rem 0;
    font-family: 'Calibre Regular', sans-serif;
    color: #797575;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.emoji{
    font-size: 1.3rem;
}
.line{
    letter-spacing: -1px;
}
#work{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
    /* PROJECT CARD */
.projectCard {
    width: 75%;
    height: 50%;
    margin: 1rem;
    border: 2px solid #79757526;
    overflow: hidden;
    padding: 1rem;
    border-radius: 25px;
    transition: all 200ms;
    opacity: .8;
}
.projectCard_img{
    width: 100%;
    height: auto;
    border-radius: 20px;

    transition: transform .5s, filter .5s ease-in-out;
    transform-origin: center center;
    filter: brightness(60%);
}
.projectCard_title{
    padding: 10px 0 2px 0;
    font-size: 2rem;
}
.projectCard_descr {
    font-size: 1.1rem;
    color: #939393;
}
.externalLink{
    opacity: 0;
    transition: all 300ms ease;
}
.projectCard_tech{
    margin-bottom: 4px;
    font-size: 1rem;
}
.projectCard:hover {
    cursor: pointer;
    opacity: 1;
}
.projectCard:hover .externalLink{
    opacity: 1;
}
.projectCard:hover .projectCard_img{
    filter: brightness(100%);
    transform: scale(1) rotate(-1deg);
}
.projectCard a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;

    background-color: #00c4ff;
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
    transform: scaleX(0);
}
.projectCard:hover a:after {
transform: scaleX(1);
transform-origin: bottom left;
} 
/* ******************************** */
/* ******************************** */

/* ABOUT ME */
#aboutMeContainer{
    margin-top: 5rem;
}
#aboutMeContent{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

.imgContainer{
    width: 25rem;
}
.profilePicture{
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: auto;

    border-radius: 50%;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
#aboutMeContent h2{
    padding-left: 2rem;

    font-family: Bogart Trial;
    color: #23cfb0;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: end;
}
.emojiLocation{
    font-size: 1.7rem;
}
.infoContainer p{
    padding: 1rem 0;

    font-size: 1rem;
    color: #b7b781;
    text-align: end;
    text-transform: uppercase;
}

#skills{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 1rem;
}
.skill{
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
}
.skill h4{
    font-size: 1.3rem;
    text-align: center;
}
.lenguajes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 9rem;
}
.lenguaje {
    margin: 0 -2rem 0 -1rem;
}
.lenguaje:first-child{
    margin-left: 5px;
}
.lenguaje:last-child{
    margin-right: -2rem;
}
.learned{
    filter: brightness(1.2);
}
.toLearn{
    opacity: .2;
}

/* CONTACT */
#contact{
    height: 19rem;
    margin-top: 5rem;
}
.contact_title{
    padding-left: 2rem;

    color: #1491b7;
    font-size: 4.5rem;
}
.emojiRock {
    position: absolute;
    margin: -3px 0 0 5px;
    font-size: 3rem;
}

.contact_p{
    padding-left: 2.1rem;

    color: #ada8a8;
    font-size: 1rem;
    text-transform: uppercase;
    /* margin-top: -1rem; */
}

#contactMail{
    padding: 1rem 0;
    height: 3.5rem;
    margin-left: 2.1rem;

    font-size: 1.7rem;
    font-weight: 400;
    transition: all 300ms ease;
}
#contactMail:hover{
    color: #00c4ff;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ******************************** */

/* FOOTER */
footer{
    position: relative;
    width: 100%;
}
#footerSocialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.footerIcon{
    width: 2rem;
    opacity: 0.6;
}
.footerIcon:hover{
    cursor: pointer;
    opacity: 1;
}
footer p{
    margin-top: 0.5rem;
    padding: 1px;

    color: #797575;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
/* ******************************** */


/* SOCIAL MEDIA STICKY BUTTONS */
#social_media{
    display: flex;
    padding-right: 5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 3rem;
}

.social_line{
    height: 15rem;
    margin: 1rem;
    opacity: 0.5;
}
.icon{
    width: 3rem;
    opacity: 0.3; 
    transition: all 300ms ease-in;
}
.icon:hover{
    opacity: 1;
}

/* ******************************** */


/* MEDIA QUERIES */

@media (max-width: 480px) {
    #container{
        width: 100%;
        position: absolute;
    }
    header{
        width: 100%;
    }
    .name{
        font-size: 4rem;
    }
   
    #social_media {
        position: fixed;
        right: 0;
        top: 3rem;
        padding: 0;
    }
    .icon{
        opacity: 0.1;
    }
    .social_line{
        opacity: 0.1;
    }

    #info{
        margin: 6rem 1rem 1rem;
        width: 100%;
        padding: 0.5rem;
    }
    #content{
        width: 100%;
    }
    .titleContent, .line {
        margin-bottom: 0;
    }
    .projectCard{
        width: 100%;
    }
    #aboutMeContainer {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
    #aboutMeContent {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .imgContainer{
        width: auto;
    }
    #aboutMeContent h2{
        margin: 1rem;
        padding-left: 0;
        font-size: 1.8rem;
    }
    #skills{
        flex-wrap: wrap;
    }
    .skill{
        height: 6rem;
    }
    .infoContainer p{
        text-align: center;
    }
    #contact{
        width: 100%;
        height: 20rem;
    }
    .contact_title{
        font-size: 3.5rem;
        padding: 1rem 0 1rem 1rem;
    }
    .emojiRock{
        margin-top: -13px;
    }
    .contact_p{
        text-align: center;
        padding: 0;
    }
    #contactMail{
        font-size: 1rem;
        margin-left: .5rem;
    }
    #contactMail:hover {
        font-size: .9rem;
        margin-left: 0.5rem;
        color: #00c4ff;
        letter-spacing: 1px;
    }
    .profilePicture{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #content{
        width: 100%;
    }
    #social_media {
        position: fixed;
        right: 0;
        top: 3rem;
        padding-right: 0.5rem;
        margin: 1rem 0;
    }
    .icon{
        opacity: 0.1;
    }
    .social_line{
        opacity: 0.1;
    }
    #info{
        margin: 1rem 0 3rem 0;
        width: 90%;
        
    }
    .mouse_scroll{
        margin: 1rem 0 2rem;
    }
    .imgContainer{
        width: auto;
        margin-top: 1rem;
    }
    .infoContainer p{
        text-align: center;
    }
    #aboutMeContent{
        align-items: flex-start;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
    }
    #info{
        margin: 5rem 0 3rem;
        padding: 0;
    }
    #content{
        width: 80%;
    }
    .projectCard{
        width: 90%;
    }
    .imgContainer{
        width: auto;
    }
    .imgContainer img{
        width: 18rem;
    }
    #aboutMeContent{
        align-items: flex-start
    }
    footer{
        margin-top: 2rem;
    }
    #contact{
        height: 25rem;
    }
    #social_media{
        padding-right: 1rem;
    }
}
